.b-pluses-list {

}
.b-pluses-list__row {
    @include margin-bottom-not-last(g(11));
}
.b-pluses-list__title {
    font-family: $Releway;
    font-style: normal;
    font-weight: 700;
    font-size: rem(42px);
    line-height: 123.22%;
    color: #292D32;
}
.b-pluses-list__row-second {
    @include gutter-y(30px);
    @include gutter(10px);
}
.b-pluses-list__img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #FBFBFB;
    border: 1px solid #F2F2F2;
    margin-bottom: rem(20px);
    img {
        width: 26px;
        height: 26px;
    }
}
.b-pluses-list__text {
    font-family: $Releway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.02%;
    color: #292D32;
}
@include media-breakpoint-down(lg) {
    .b-pluses-list__text {
        font-size: 14px;
    }
}
@include media-breakpoint-down(md) {
    .b-pluses-list__text {
        font-size: 12px;
    }
}

