include ../b-pluses-item/b-pluses-item
include ../b-pluses-second-list/b-pluses-second-list
mixin b-pluses-list(data)
    +b.b-pluses-list
        .container
            +e.row.row
                .col-lg-12
                    +e.title Блаблагруз - это
            +e.row-second.row
                for item in data.pluses
                    .col-md-3
                        +e.item
                            +e.img
                                img(src=item.img)
                            +e.text!=item.description
