//-Главная
extends ../layouts/default.pug


include ../components/page-header/page-header
include ../components/page-footer/page-footer
include ../components/b-stock-list/b-stock-list
include ../components/b-pluses-list/b-pluses-list
include ../components/b-services-list/b-services-list
include ../components/b-utp/b-utp
include ../components/b-pluses-second-list/b-pluses-second-list
include ../components/b-auto-list/b-auto-list
include ../components/b-questions-list/b-questions-list
include ../components/b-main-block/b-main-block
include ../components/b-calculator/b-calculator

block vars
    - var title = 'Главная'

block content
    .page__header
        +page-header
    .page__wrapper
        .page__b-main-block
            +b-main-block({
                img: '__static__img/content/main.jpg',
                title: 'Грузоперевозки до 5 тонн <br>в Санкт-Петербург и обратно',
                desc: 'Блаблагруз - вывезем всё!'
            })
        .page__b-calculator
            +b-calculator
        .page__b-stock-list#stock
            +b-stock-list({
                stocks: [
                    {
                        title: 'Тула-Санкт Петербург<br> <span>21 999 ₽</span> 15 999 ₽',
                        description: '1 евро палет до 500 кг <br> заказать(до 16: 00)',
                        data: 'только 18 сентября'
                    },
                    {
                        title: 'Из Санкт-Петербурга <br>со скидкой 5 % ',
                        description: 'В ср, чт, пт. Акция действует при заказе и оплате услуги заранее - за 2-3 дня',
                        modeList: ['light']
                    },
                    {
                        title: 'Из Санкт-Петербурга <br>со скидкой 5 % ',
                        description: 'В ср, чт, пт. Акция действует при заказе и оплате услуги заранее - за 2-3 дня',
                        modeList: ['light']
                    },
                ]
            })
        .page__b-pluses-list
            +b-pluses-list({
                pluses: [
                    {
                        img: '__static__img/content/Home.svg',
                        description: 'Доставка на следующий день, от двери до двери'
                    },
                    {
                        img: '__static__img/content/routing.svg',
                        description: 'Возможность заплатить за место в машине'
                    },
                    {
                        img: '__static__img/content/car.svg',
                        description: 'Возможность заплатить за место в машине'
                    },
                    {
                        img: '__static__img/content/folder-open.svg',
                        description: 'GPS трекерами, что позволяет отслеживать груз'
                    },
                ]
            })
        .page__b-services-list#services
            +b-services-list({
                services: [
                    {
                        img: '__static__img/content/service-first.jpg',
                        title: 'Передача <br>мелкого пакета',
                        price: '3000 ₽'
                    },
                    {
                        img: '__static__img/content/service-second.jpg',
                        title: 'Домашний <br>Переезд',
                        price: 'от 14 900 ₽'
                    },
                    {
                        img: '__static__img/content/service-third.jpg',
                        title: 'Отправить груз <br>попутной машиной',
                        price: 'от 14 900 ₽'
                    },
                    {
                        img: '__static__img/content/service-fourd.jpg',
                        title: 'Заказать отдельную <br>машину',
                        price: 'от 44 900 ₽'
                    },
                ]
            })
        .page__b-utp
            +b-utp({
                title: 'Получите быстрый<br> расчёт стоимости',
                description: 'Мы свяжемся с вами и предложим<br> выгодную ставку'
            })
        .page__b-pluses-second-list
            +b-pluses-second-list({
                pluses: [
                    {
                        img: '__static__img/content/task.svg',
                        description: 'Принимаем заявку,<br> согласовываем детали'
                    },
                    {
                        img: '__static__img/content/note.svg',
                        description: 'Заключаем договор<br>о перевозке'
                    },
                    {
                        img: '__static__img/content/5.svg',
                        description: 'Производим оплату<br>на нашем сайте'
                    },
                    {
                        img: '__static__img/content/6.svg',
                        description: 'Загружаем груз и доставляем<br> его, в указанный срок к месту '
                    },
                ]
            })
        .page__b-auto-list#autopark
            +b-auto-list({
                items: [
                    {
                        img: '__static__img/content/car.png',
                        name: 'Газель-тент',
                        params: {
                            dimensions: '3.2м*1.7м*2.1м',
                            capacity: '12 м³',
                            amount: '2',
                            loadCapacity: '1.5 т'
                        }
                    },
                    {
                        img: '__static__img/content/car.png',
                        name: 'Газель-тент',
                        params: {
                            dimensions: '3.2м*1.7м*2.1м',
                            capacity: '12 м³',
                            amount: '2',
                            loadCapacity: '1.5 т'
                        }
                    },
                    {
                        img: '__static__img/content/car.png',
                        name: 'Газель-тент',
                        params: {
                            dimensions: '3.2м*1.7м*2.1м',
                            capacity: '12 м³',
                            amount: '2',
                            loadCapacity: '1.5 т'
                        }
                    },
                ]
            })
        .page__b-questions-list#questions
            +b-questions-list({
                items: [
                    {
                        name: 'Как забронировать грузовое место?',
                        description: 'Сроки зависят от вида транспорта. Рассмотрим на примере транспортировки из Москвы в Южно-Сахалинск: авиационным транспортом транзитное время займет 2-3 дня, а морским ж/д (до Хабаровска или Владивостока) 17 дней'
                    },
                    {
                        name: 'Как забронировать грузовое место?',
                        description: 'Сроки зависят от вида транспорта. Рассмотрим на примере транспортировки из Москвы в Южно-Сахалинск: авиационным транспортом транзитное время займет 2-3 дня, а морским ж/д (до Хабаровска или Владивостока) 17 дней'
                    },
                    {
                        name: 'Как забронировать грузовое место?',
                        description: 'Сроки зависят от вида транспорта. Рассмотрим на примере транспортировки из Москвы в Южно-Сахалинск: авиационным транспортом транзитное время займет 2-3 дня, а морским ж/д (до Хабаровска или Владивостока) 17 дней'
                    },
                    {
                        name: 'Как забронировать грузовое место?',
                        description: 'Сроки зависят от вида транспорта. Рассмотрим на примере транспортировки из Москвы в Южно-Сахалинск: авиационным транспортом транзитное время займет 2-3 дня, а морским ж/д (до Хабаровска или Владивостока) 17 дней'
                    },
                    {
                        name: 'Как забронировать грузовое место?',
                        description: 'Сроки зависят от вида транспорта. Рассмотрим на примере транспортировки из Москвы в Южно-Сахалинск: авиационным транспортом транзитное время займет 2-3 дня, а морским ж/д (до Хабаровска или Владивостока) 17 дней'
                    },
                    {
                        name: 'Как забронировать грузовое место?',
                        description: 'Сроки зависят от вида транспорта. Рассмотрим на примере транспортировки из Москвы в Южно-Сахалинск: авиационным транспортом транзитное время займет 2-3 дня, а морским ж/д (до Хабаровска или Владивостока) 17 дней'
                    },
                ]
            })



    .page__footer
        +page-footer





