.b-stock-list {

}
.b-stock-list__row {
    @include margin-bottom-not-last(g(11));
}
.b-stock-list__title {
    font-family: $Releway;
    font-style: normal;
    font-weight: 700;
    font-size: rem(42px);
    line-height: 123.22%;
    color: #292D32;
}
.b-stock-list__block {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/8;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 32px 20px;

    background: linear-gradient(96.93deg, #398860 30.11%, #3C9D6C 74.14%);
    border-radius: 28px;
    &_light {
        background: #EFF6F3;
        .b-stock-list__name {
            color: #292D32;
        }
        .b-stock-list__description {
            color: #292D32;
        }
    }
}
.b-stock-list__text {
    margin-top: auto;
}
.b-stock-list__name {
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;
    @include margin-bottom-not-last(g(6));
    span {
        text-decoration: line-through;
    }
}
.b-stock-list__description {
    font-family: $Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-transform: lowercase;
    color: #FFFFFF;
}
.b-stock-list__row-second {
    @include gutter-y(30px);
    @include gutter(10px);
}

.b-stock-list__data {
    margin-bottom: 10px;
    display: block;
    span {
        display: inline;
        padding: 6px 12px;
        font-family: $Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2%;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
    }
}
@include media-breakpoint-down(lg) {
    .b-stock-list__name {
        font-size: 18px;
    }
    .b-stock-list__description {
        font-size: 14px;
    }
}
@include media-breakpoint-down(md) {
    .b-stock-list__block {
        padding: 30px;
    }

};

@include media-breakpoint-down(sm) {
    .b-stock-list__title {
        text-align: center;
    }
    .b-stock-list__row-second {
        @include gutter-y(10px);
    }

}
@include media-breakpoint-down(xs) {
    .b-stock-list__block {
        padding: 16px 16px 30px 16px;
    }
    .b-stock-list__name {
        font-size: 16px;
        @include margin-bottom-not-last(12px);
    }
    .b-stock-list__description {
        font-size: 12px;
    }
}
