mixin b-modal-buy(data)
    +b.b-modal-buy
        +e.container
            +e.form
                form
                    +e.content
                        +e.title Онлайн-оплата заказа
                        +e.input
                            +e.INPUT.form-control(type="tel" required placeholder="Ваш номер телефона")
                        +e.input
                            +e.INPUT.form-control(type="text" required placeholder="Сумма заказа")
                        +e.SELECT.select
                            option(value="") Выберите город
                            option(value="Тула") Тула
                            option(value="Новомосковск") Новомосковск
                            option(value="Донской") Донской
                            option(value="Щёкино") Щёкино
                            option(value="Узловая") Узловая
                            option(value="Киреевск") Киреевск
                            option(value="Ясногорск") Ясногорск
                            option(value="Болохово") Болохово
                            option(value="Калуга") Калуга
                            option(value="Обнинск") Обнинск
                            option(value="Малоярославец") Малоярославец
                            option(value="Балабаново") Балабаново
                            option(value="Жуков") Жуков
                            option(value="Белоусово") Белоусово
                            option(value="Боровск") Боровск
                            option(value="Кремёнки") Кремёнки
                            option(value="Ермолино") Ермолино
                            option(value="Полотняный завод") Полотняный завод
                            option(value="Товарково") Товарково
                            option(value="Детчино") Детчино
                            option(value="Добрино") Добрино
                            option(value="Серпухов") Серпухов
                            option(value="Пущино") Пущино
                            option(value="Чехов") Чехов
                            option(value="Протвино") Протвино
                            option(value="Санкт -Петербург") Санкт -Петербург
                        +e.call
                            +e.BUTTON.btn(type='submit') Выбрать способ оплаты
                        +e.span Нажимая кнопку «Выбрать способ оплаты», вы соглашаетесь
                            span на обработку ваших персональных данных
