.b-questions-list {

}
.b-questions-list__title {
    font-family: $Releway;
    font-style: normal;
    font-weight: 700;
    font-size: rem(42px);
    line-height: 1.2;
    text-align: center;
    color: #292D32;
    @include margin-bottom-not-last(g(11));
}
.b-questions-list__row {
    @include gutter-y(20px);
    @include gutter(10px);
}
.b-questions-list__item {

}


